{% trans_default_domain 'FOSUserBundle' %}
{% extends "Layout.html.twig" %}

{% block title %}
    <title>Ajout d'un groupe </title>
{% endblock title %}

{% block PLUGIN %}
{% endblock %}

{% block content %}
    <div class="col s6 m12 l12">
        <div class="card-panel">
            <h5>Ajouter un groupe</h5>
            <div class="row ">
                {{ form_start(form, {'method': 'post', 'action': path('Groupe_Add')}) }}
                {{ form_errors(form) }}
                <div class="col m6">

                    <div class="row ">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            {{ form_widget(form.libelle) }}
                            <i class="card-content red-text" >{{ form_errors(form.libelle) }}</i>
                            <label for="libelle" class="center-align">libelle </label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            {{ form_widget(form.nbMax) }}
                            <i class="card-content red-text" >{{ form_errors(form.nbMax) }}</i>
                            <label for="nbMax" class="center-align">Nombre maximum </label>
                        </div>
                    </div>
                <div class="row ">
                    <div class="input-field col s12">
                        <input type="submit" class="btn waves-effect waves-light col s6"
                               value="Ajouter un groupe" a href="{{ path('Groupe_list') }}"/>
                    </div>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}