{% trans_default_domain 'FOSUserBundle' %}
{% extends "Layout.html.twig" %}
{% block title %}
    <title>Liste des groupes </title>
{% endblock title %}
{% block PLUGIN %}
    <link href="{{ asset('Admin/js/plugins/prism/prism.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/data-tables/css/jquery.dataTables.min.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">

{% endblock %}
{% block content %}
    <div id="table-datatables">
        <h5>Liste des groupes</h5>
        <div class="row">
            <div class="col s12 m10 l12">
                <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom du groupe</th>
                        <th>Nombr maximum</th>
                        <th>Liste des éléves</th>
                        <th>Activite</th>
                        <th>Option</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Nom du groupe</th>
                        <th>Nombr maximum</th>
                        <th>Liste des éléves</th>
                        <th>Activite</th>
                        <th>Option</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for groupe in groupe %}
                        <tr>
                            <td>{{ groupe.libelle }}</td>
                            <td>{{ groupe.nbMax }}</td>
                            <td>
                                <a href="{{ path('EleveGroupe_list', { 'id': groupe.id }) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-social-group"></i></a>
                            </td>
                            <td>
                                <a href="{{ path('ActiviteGroupe_list', { 'id': groupe.id }) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-action-description"></i></a>
                            </td>

                            <td>
                                <a href="{{ path('Groupe_Update', { 'id': groupe.id}) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-editor-border-color right"></i></a>
                                <a href="{{ path('Groupe_Delete', { 'id': groupe.id }) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-action-delete left"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a href="{{ path("Groupe_Add") }}" class="btn-floating blue btn-large">
            <i class="mdi-content-add"></i>
        </a>
    </div>
    <!-- Floating Action Button -->
{% endblock %}