{% trans_default_domain 'FOSUserBundle' %}

    <div class="card-panel">
        <div class="row ">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div class="row ">

                    <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn waves-effect waves-light col s6"
                           a href="{{ path('Compte_Profile') }}"/>

            </div>
            {{ form_end(form) }}
        </div>
    </div>

