{% extends "Layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    <title>Modifier mot de passe</title>
{% endblock title %}
{% block content %}
<div class="col s6 m12 l12">
    <div class="card-panel">
        <h5>Modifier votre mot de passe</h5>
        <div class="row ">
            {{ form_start(form, { 'action': path('Compte_password_change'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
            <div class="row ">
                <div class="input-field col s12">
                    <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn waves-effect waves-light col s6"
                           a href="{{ path('Compte_Profile') }}"/>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}