{% extends "Layout.html.twig" %}
{% block title %}
    <title>Liste de séance de {{ activite.libelle }}</title>
{% endblock title %}
{% block PLUGIN %}
    <link href="{{ asset('Admin/js/plugins/prism/prism.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/data-tables/css/jquery.dataTables.min.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">

{% endblock %}
{% block content %}
    <div id="table-datatables">
        <div class="row">
            <h5>les séance de <b> {{ activite.libelle }} </b></h5>
            <div class="col s12 m10 l12">
                <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Activite</th>
                        <th>Jours</th>
                        <th>Commance a</th>
                        <th>Termine a </th>
                        <th>Option</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Activité</th>
                        <th>Jours</th>
                        <th>Commance a</th>
                        <th>Termine a </th>
                        <th>Option</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for seance in seance %}
                        <tr>
                            <td>{{ seance.activite.libelle }}</td>
                            <td>{{ seance.jours}}</td>
                            <td>{{ seance.dateStart }}</td>
                            <td>{{ seance.dateEnd }}</td>
                            <td>
                                <a href="{{ path('Seance_Update', { 'id': seance.id}) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-editor-border-color right"></i></a>
                                <a href="{{ path('Seance_Delete', { 'id': seance.id }) }}" class="waves-effect waves-light btn-flat ">
                                    <i class="mdi-action-delete left"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a href="{{ path('Seance_Add',{'id': activite.id }) }}" class="btn-floating blue btn-large">
            <i class="mdi-content-add"></i>
        </a>
    </div>
    <!-- Floating Action Button -->
{% endblock %}